.toggleMute {
    cursor: pointer;
    display: inline-block;
    color: #f6f6f6;
    background-color: #111;
    border-radius: 5px;
    width: 4rem;
    text-align: center;
    padding: 2px;
    user-select: none;
}

.toggleMute:hover {
    background-color: rgb(34, 33, 33);
}

.toggleMute:active {
    background-color: #f6f6f6;
    color: black;
}